.inner-container{
    gap: 1.5rem;
    background: #4161DF;
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid #5D77D6;
    text-align: center;
}

.inner-container .primaryText{
    color: white;
    font-weight: 600;
}

.inner-container .secondaryText{
    color: rgba(255, 255, 255, .587);
}

.inner-container .button{
    background: #5A73D7;
    border: 2px solid white;
    box-shadow: var(--shadow);
    border-radius: 10px;
}